[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[packages]
docopt = "*"
pyyaml = "*"
pygments = "*"
requests = ">=2.20.0"

[dev-packages]
pytest = "*"
coala-bears = "*"
tox = "*"

[requires]
python_version = "3.6"
